In [1]:
import pandas as pd

In [13]:
data_cart = pd.read_csv('datasets/data_cart.csv')
data_alpha = pd.read_csv('datasets/data_alpha.csv')
data_cart.shape, data_alpha.shape

((300, 72), (300, 76))

In [82]:
# check dates
differentes=[]
for dt in data_alpha['Data'].tolist():
    if dt not in data_cart['Data'].tolist():
        differentes.append(dt)

for dt in data_cart['Data'].tolist():
    if dt not in data_alpha['Data'].tolist():
        differentes.append(dt)
differentes

[]

Remove as datas

In [86]:
data_alpha.drop(data_alpha[(data_alpha['Data'].isin(differentes))].index, inplace=True)
data_cart.drop(data_cart[(data_cart['Data'].isin(differentes))].index, inplace=True)

Cria um DataFrame pra analisar a diferen√ßa

In [108]:
symbol = 'BBDC4'
data_tuples = list(zip(data_cart['Data'], data_cart[symbol], data_alpha[symbol]))
dtconcat = pd.DataFrame(data_tuples, columns=['Data','B3', 'Alpha'])
dtconcat['Diff'] = (dtconcat['B3']-dtconcat['Alpha'])
dtconcat[dtconcat['Diff']!=0]

           Data     B3    Alpha    Diff
0    28/03/2019  42.22  35.1833  7.0367
1    29/03/2019  42.94  35.7833  7.1567
26   07/05/2019  34.77  31.6091  3.1609
66   03/07/2019  38.24  38.4000 -0.1600
85   31/07/2019  34.50  31.3636  3.1364
218  11/02/2020  34.39  31.2636  3.1264
256  08/04/2020  22.40  20.3636  2.0364
257  09/04/2020  22.39  20.3545  2.0355
258  13/04/2020  22.97  20.8818  2.0882