## Download do Histórico

In [169]:
#https://aroussi.com/post/python-yahoo-finance
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import numpy as np
yf.pdr_override()

In [163]:
tickers = pd.read_csv('datasets/composicao_indice.csv',names=['Código'])
tickers['Código'] = tickers['Código'] + '.SA'
tickers = tickers['Código'].tolist()
len(tickers), tickers[0:5]

(75, ['ABEV3.SA', 'AZUL4.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA'])

In [121]:
#tickers = ['ABEV3.SA', 'AZUL4.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA']

In [122]:
#start="2019-10-01"
historic = web.get_data_yahoo(tickers, start="2019-05-01")['Adj Close']
#historic = web.get_data_yahoo(tickers, period='1y')['Adj Close']
historic.shape

[*********************100%***********************]  75 of 75 completed

(277, 75)

#### Renomear as colunas removendo o .SA

In [123]:
columns=[]
for col in historic.columns:
    columns.append(col.replace('.SA', ''))
historic.columns = columns

In [124]:
historic.tail()

,ABEV3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,BEEF3,BPAC11,BRAP4,...,TAEE11,TIMP3,TOTS3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3,YDUQ3
Date,,,,,,,,,,,,,,,,,,,,,
2020-06-04,13.38,19.080000,49.580002,34.939999,19.990000,21.900000,28.049999,13.36,60.250000,36.799999,...,28.260000,14.13,21.690001,18.629999,6.88,55.660000,47.299999,13.95,43.799999,35.110001
2020-06-05,14.05,21.160000,49.070000,35.200001,20.450001,22.299999,28.490000,13.01,60.240002,36.060001,...,28.930000,14.60,20.760000,18.680000,6.90,54.610001,47.770000,14.85,44.330002,38.560001
2020-06-08,14.60,27.350000,51.720001,36.389999,21.430000,23.469999,28.400000,13.05,66.019997,35.660000,...,28.940001,14.44,21.030001,19.129999,7.45,54.779999,48.540001,15.50,45.799999,37.150002
2020-06-09,14.32,25.780001,51.070000,35.790001,21.209999,22.950001,27.620001,12.59,65.580002,36.139999,...,28.809999,14.48,21.110001,19.270000,7.30,54.990002,49.000000,14.97,45.810001,36.639999
2020-06-10,13.99,23.469999,50.740002,34.299999,20.500000,21.990000,27.120001,12.77,63.360001,35.799999,...,29.049999,14.30,21.580000,18.510000,6.94,54.480000,49.590000,14.98,45.099998,34.900002

In [77]:
historic.to_csv('datasets/data_yahoo.csv')
print("Dataset salvo com sucesso!!!")

Dataset salvo com sucesso!!!

Tratar os dados faltantes, vou add um valor médio para todos os faltantes.. é o jeito

In [196]:
# Lista de missing values:
missing_values = ['n/a','na','--','.']
historic = pd.read_csv('datasets/data_yahoo.csv',na_values=missing_values)

In [221]:
historic.shape

(249, 75)

In [200]:
historic.loc[historic['VVAR3'].isnull()==True]

,Date,ABEV3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,BEEF3,BPAC11,...,TAEE11,TIMP3,TOTS3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3,YDUQ3
177,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
historic.isnull().values.sum()

235

In [220]:
#historic.dropna(inplace=True)

In [219]:
(historic.isnull().sum() > 1)

Date     False
ABEV3    False
AZUL4    False
B3SA3    False
BBAS3    False
         ...
VALE3    False
VIVT4    False
VVAR3    False
WEGE3    False
YDUQ3    False
Length: 75, dtype: bool

In [227]:
rows=[]
for col in historic.columns:
    count=0
    for row in historic[col]:
        try:
            #print(row)
            int(row)
            #historic.loc[count,'OWN_OCCUPIED'] = np.nan
        except ValueError:
            pass
            count+=1
    rows.append([col, count])
rows

[['Date', 249],
 ['ABEV3', 0],
 ['AZUL4', 0],
 ['B3SA3', 0],
 ['BBAS3', 0],
 ['BBDC3', 0],
 ['BBDC4', 0],
 ['BBSE3', 0],
 ['BEEF3', 0],
 ['BPAC11', 0],
 ['BRAP4', 0],
 ['BRDT3', 0],
 ['BRFS3', 0],
 ['BRKM5', 0],
 ['BRML3', 0],
 ['BTOW3', 0],
 ['CCRO3', 0],
 ['CIEL3', 0],
 ['CMIG4', 0],
 ['COGN3', 0],
 ['CPFE3', 0],
 ['CRFB3', 0],
 ['CSAN3', 0],
 ['CSNA3', 0],
 ['CVCB3', 0],
 ['CYRE3', 0],
 ['ECOR3', 0],
 ['EGIE3', 0],
 ['ELET3', 0],
 ['ELET6', 0],
 ['EMBR3', 0],
 ['ENBR3', 0],
 ['ENGI11', 0],
 ['EQTL3', 0],
 ['FLRY3', 0],
 ['GGBR4', 0],
 ['GNDI3', 0],
 ['GOAU4', 0],
 ['GOLL4', 0],
 ['HAPV3', 0],
 ['HGTX3', 0],
 ['HYPE3', 0],
 ['IGTA3', 0],
 ['IRBR3', 0],
 ['ITSA4', 0],
 ['ITUB4', 0],
 ['JBSS3', 0],
 ['KLBN11', 0],
 ['LAME4', 0],
 ['LREN3', 0],
 ['MGLU3', 0],
 ['MRFG3', 0],
 ['MRVE3', 0],
 ['MULT3', 0],
 ['PCAR3', 0],
 ['PETR3', 0],
 ['PETR4', 0],
 ['QUAL3', 0],
 ['RADL3', 0],
 ['RAIL3', 0],
 ['RENT3', 0],
 ['SANB11', 0],
 ['SBSP3', 0],
 ['SULA11', 0],
 ['SUZB3', 0],
 ['TAEE11', 0],
 ['TIMP3', 0],
 ['TOTS3', 0],
 ['UGPA3', 0],
 ['USIM5', 0],
 ['VALE3', 0],
 ['VIVT4', 0],
 ['VVAR3', 0],
 ['WEGE3', 0],
 ['YDUQ3', 0]]

In [218]:
historic['NTCO3']

KeyError: 'NTCO3'

In [217]:
del historic['NTCO3']