https://www.youtube.com/watch?v=kB4jCoVyLRI&t=10s

https://www.alphavantage.co/

In [33]:
#C5MCLHHUILEE2IWO
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import time
import os.path

In [37]:
def delete_file(file, verbose=False):
    if os.path.exists(file):
        os.remove(file)
    elif (verbose):
        print("File doesn't exists")

def clear_foler(path):
    path+='/'
    for file in os.listdir(path):
        delete_file(path + file)

In [2]:
tickers = pd.read_csv('datasets/composicao_indice.csv',names=['Código'])
tickers['Código'] = tickers['Código'] + '.SAO'
tickers = tickers['Código'].tolist()
len(tickers), tickers[0:5]

(75, ['ABEV3.SAO', 'AZUL4.SAO', 'B3SA3.SAO', 'BBAS3.SAO', 'BBDC3.SAO'])

In [3]:
ts = TimeSeries(key='C5MCLHHUILEE2IWO', output_format='pandas')

In [4]:
#ts.get_symbol_search('ABEV3')

In [46]:
dados, meta_dados = ts.get_daily_adjusted('BBAS3.SAO', outputsize='full')
dados.shape

(5012, 8)

In [48]:
data_date_changed = dados[:'2019-11-29']
data_date_changed

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2020-06-12,33.00,33.88,33.00,33.23,33.2300,11294300.0,0.0,1.0
2020-06-10,36.36,36.41,34.21,34.21,34.2100,27346200.0,0.0,1.0
2020-06-09,35.54,37.08,35.12,35.79,35.7900,28728300.0,0.0,1.0
2020-06-08,35.82,36.81,35.50,36.39,36.3900,22264000.0,0.0,1.0
2020-06-05,37.41,38.17,35.01,35.20,35.2000,35546100.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2019-12-05,49.16,49.27,48.31,48.67,47.8175,9473100.0,0.0,1.0
2019-12-04,48.39,49.13,48.30,49.09,48.2302,15029100.0,0.0,1.0
2019-12-03,48.14,48.69,47.95,48.39,47.5424,17536700.0,0.0,1.0
2019-12-02,47.81,48.33,47.43,47.43,46.5992,9727400.0,0.0,1.0
2019-11-29,47.64,47.99,47.41,47.81,46.9726,7285500.0,0.0,1.0

In [56]:
meta_dados

### Baixa os dados

In [70]:
#clear_foler('datasets-alpha')
counter=0
list_except=[]
for symbol in tickers:
    # if exists csv, not need down
    if os.path.exists('datasets-alpha/{}.csv'.format(symbol)):
        continue
        
    try:
        data, meta_dados = ts.get_daily_adjusted(symbol, outputsize='full')
        data.to_csv('datasets-alpha/{}.csv'.format(symbol))
    except:
        list_except.append(symbol)
    
    counter+=1
    if(counter==4):
        counter=0
        time.sleep(60) # Delay for 1 minute (60 seconds).
        time.sleep(10) # +10s só pra garantir

# mostra os que deram erro
print('{} except'.format(len(list_except)))

0 except