https://www.youtube.com/watch?v=kB4jCoVyLRI&t=10s

https://www.alphavantage.co/

In [2]:
#C5MCLHHUILEE2IWO
import pandas as pd
from alpha_vantage.timeseries import TimeSeries

In [18]:
tickers = pd.read_csv('datasets/composicao_indice.csv',names=['Código'])
tickers['Código'] = tickers['Código'] + '.SAO'
tickers = tickers['Código'].tolist()
len(tickers), tickers[0:5]

(75, ['ABEV3.SAO', 'AZUL4.SAO', 'B3SA3.SAO', 'BBAS3.SAO', 'BBDC3.SAO'])

In [5]:
ts = TimeSeries(key='C5MCLHHUILEE2IWO', output_format='pandas')

In [13]:
#ts.get_symbol_search('ABEV3')

In [29]:
dados, meta_dados = ts.get_daily('BBAS3.SAO')['4. close']
dados.shape

TypeError: tuple indices must be integers or slices, not str

In [26]:
dados

            1. open  2. high  3. low  4. close   5. volume
date
2020-06-10    51.60    51.70   50.34     50.74  12835600.0
2020-06-09    51.05    51.67   50.80     51.07  11314800.0
2020-06-08    49.35    51.82   49.35     51.72  10005500.0
2020-06-05    50.80    51.97   48.81     49.07  15744300.0
2020-06-04    48.31    49.84   47.91     49.58  13161100.0
...             ...      ...     ...       ...         ...
2020-01-21    44.85    45.65   44.57     44.70   8746100.0
2020-01-20    45.00    45.50   44.76     45.50   5926700.0
2020-01-17    44.06    45.34   44.01     45.34  11994000.0
2020-01-16    43.95    44.17   43.31     43.95  13588600.0
2020-01-15    44.40    44.71   42.95     43.45  20797400.0

[100 rows x 5 columns]

In [24]:
meta_dados

{'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
 '2. Symbol': 'B3SA3.SAO',
 '3. Last Refreshed': '2020-06-10',
 '4. Output Size': 'Compact',
 '5. Time Zone': 'US/Eastern'}