In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = 'http://bvmf.bmfbovespa.com.br/indices/ResumoCarteiraTeorica.aspx?Indice=IBOV&idioma=pt-br'
req = requests.get(url)
if req.status_code == 200:
    print('Requisição bem sucedida!')
    content = req.content

Requisição bem sucedida!

In [4]:
soup = BeautifulSoup(content, 'html.parser')
table = soup.find(name='table')

In [34]:
table_str = str(table)
df = pd.read_html(table_str)[0]
#remove a última linha
df = df.iloc[0:df.shape[0]-1:]

In [41]:
df.sort_values(by=['Part. (%)'], ascending=False)

   Código          Ação      Tipo  Qtde. Teórica  Part. (%)
70  VALE3          VALE     ON NM  3.292.010.807      10812
44  ITUB4  ITAUUNIBANCO  PN ED N1  4.738.562.684       7457
2   B3SA3            B3     ON NM  2.046.021.644       5986
56  PETR4     PETROBRAS     PN N2  4.520.185.835       5716
5   BBDC4      BRADESCO  PN EJ N1  4.261.649.634       5507
..    ...           ...       ...            ...        ...
41  IGTA3      IGUATEMI     ON NM     86.913.923        189
23  CVCB3    CVC BRASIL     ON NM    145.617.442        170
25  ECOR3   ECORODOVIAS     ON NM    171.079.276        137
37  GOLL4           GOL     PN N2    134.613.917        135
39  HGTX3    CIA HERING     ON NM    126.302.831        115

[75 rows x 5 columns]

In [37]:
df['Código'].to_csv('datasets/composicao_indice.csv')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [43]:
arr = ['Código', 'Ação']
df[arr]

   Código          Ação
0   ABEV3     AMBEV S/A
1   AZUL4          AZUL
2   B3SA3            B3
3   BBAS3        BRASIL
4   BBDC3      BRADESCO
..    ...           ...
70  VALE3          VALE
71  VIVT4  TELEF BRASIL
72  VVAR3     VIAVAREJO
73  WEGE3           WEG
74  YDUQ3    YDUQS PART

[75 rows x 2 columns]

In [44]:
type(arr)

list