## Composição da Carteira Índice Bovespa
#http://www.b3.com.br/pt_br/market-data-e-indices/indices/indices-amplos/indice-ibovespa-ibovespa-composicao-da-carteira.htm

In [1]:
import pandas as pd

In [2]:
url = 'http://bvmf.bmfbovespa.com.br/indices/ResumoCarteiraTeorica.aspx?Indice=IBOV&idioma=pt-br'
cart = pd.read_html(url, decimal=',', thousands='.',)[0][:-1]

In [3]:
cart.sort_values(by=['Part. (%)'], ascending=False)

   Código          Ação   Tipo Qtde. Teórica  Part. (%)
76  VALE3          VALE  ON NM    2837320141     11.991
47  ITUB4  ITAUUNIBANCO  PN N1    4757466114      6.740
61  PETR4     PETROBRAS  PN N2    4566457037      5.801
2   B3SA3            B3  ON NM    1930877944      5.218
5   BBDC4      BRADESCO  PN N1    4261649634      5.148
..    ...           ...    ...           ...        ...
44  IGTA3      IGUATEMI  ON NM      85796919      0.132
7   BEEF3       MINERVA  ON NM     239331676      0.105
26  ECOR3   ECORODOVIAS  ON NM     171109276      0.101
49  JHSF3     JHSF PART  ON NM     288952690      0.098
42  HGTX3    CIA HERING  ON NM     126186408      0.096

[81 rows x 5 columns]

In [4]:
cart['Código'].to_csv('datasets/composicao_indice.csv',index=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [5]:
cod = cart['Código'].to_csv('datasets/composicao_indice.csv',index=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [6]:
df_em = pd.read_csv('datasets/composicao_indice.csv', names=['Código'])
df_em

   Código
0   ABEV3
1   AZUL4
2   B3SA3
3   BBAS3
4   BBDC3
..    ...
76  VALE3
77  VIVT3
78  VVAR3
79  WEGE3
80  YDUQ3

[81 rows x 1 columns]