In [1]:
import numpy as np
import pandas as pd
import os
import statsmodels.api as sm
import statsmodels.tsa.stattools as ts
import matplotlib.pyplot as plt
from pykalman import KalmanFilter
import statistics

%matplotlib inline

In [173]:
def find_csv_max_lines(path):
    rows = []
    for file in os.listdir(path):
        with open(path+'/'+file) as f:
            lines = sum(1 for line in f)
            rows.append([file, lines])

    csv = pd.DataFrame(rows, columns=['File', 'Lines'])
    maxlines = csv['Lines'].max()
    return csv.loc[(csv['Lines'] == maxlines)]

def join_csv_merge(dfcsv, fileTo, path_older, path_old):
    newCsv = pd.DataFrame()
    define_data = False

    for i, row_merge in merge.iterrows():
        fe1 = pd.read_csv(path_older+'/'+row_merge.File)
        fe2 = pd.read_csv(path_old+'/'+row_merge.File)    
        dates=[]

        if (define_data == False):
            for i, row in fe1.iterrows():
                dates.append(row['Data'])
            for i, row in fe2.iterrows():
                dates.append(row['Data'])
            newCsv['Data'] = dates
            define_data = True

        rows=[]
        for i, row in fe1.iterrows():
            rows.append(row['Fechamento'])
        for i, row in fe2.iterrows():
            rows.append(row['Fechamento'])

        name = os.path.splitext(row_merge.File)[0]
        newCsv[name] = rows
        
    newCsv.to_csv(fileTo)

    print('New file CSV successfully created')

In [174]:
csv19 = find_csv_max_lines('datasets-b3-2019')
csv20 = find_csv_max_lines('datasets-b3')
csv20.shape, csv19.shape

((266, 2), (204, 2))

In [175]:
merge = pd.merge(csv20, csv19, left_on='File', right_on='File')
merge.shape

(201, 3)

In [176]:
join_csv_merge(merge, 'datasets/data1.csv', 'datasets-b3-2019', 'datasets-b3')

New file CSV successfully created

In [163]:
newCsv.shape

(340, 202)

In [164]:
newCsv

,Data,AALR3,AAPL34,ABCB4,ABEV3,AGRO3,ALPA4,ALUP11,AMAR3,ANIM3,...,USIM5,VALE3,VIVT3,VIVT4,VLID3,VULC3,VVAR3,WEGE3,WIZS3,WSON33
0,02/01/2020,19.00,121.34,20.30,19.20,19.25,32.58,28.65,13.46,29.60,...,9.70,54.33,48.24,57.21,17.04,9.00,11.73,35.24,14.35,46.00
1,03/01/2020,19.00,121.58,20.75,18.93,19.45,32.58,28.45,13.95,29.95,...,9.60,53.93,48.80,57.72,16.81,8.83,11.48,34.79,14.35,46.01
2,06/01/2020,18.99,122.18,20.62,19.02,19.46,32.07,28.50,13.63,30.20,...,9.42,53.61,48.33,56.83,17.55,8.98,11.48,34.88,15.13,46.33
3,07/01/2020,18.94,122.48,20.36,19.06,19.40,32.80,27.99,13.67,32.44,...,9.51,54.00,49.40,56.95,17.23,8.99,11.65,35.15,15.97,46.20
4,08/01/2020,18.97,123.51,20.30,18.97,19.20,33.16,27.96,13.87,32.77,...,9.39,54.01,49.90,56.69,16.82,8.99,11.60,33.82,14.90,46.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,20/12/2019,18.32,115.16,20.00,18.91,18.35,32.35,27.13,12.37,28.84,...,9.33,54.79,48.85,57.86,15.35,8.93,11.37,33.89,13.93,42.66
336,23/12/2019,18.40,116.44,20.12,18.96,19.05,32.70,27.59,12.79,28.21,...,9.53,54.58,49.00,58.38,15.72,9.20,11.67,33.79,14.13,42.50
337,26/12/2019,18.00,117.91,20.17,19.22,19.30,32.86,27.55,13.23,29.30,...,9.53,54.79,49.89,58.89,16.54,9.16,11.80,34.85,14.26,43.70
338,27/12/2019,18.04,117.86,20.08,19.16,19.46,32.66,27.50,13.18,30.00,...,9.43,53.60,49.33,58.48,16.90,9.16,11.50,35.34,14.12,44.00
339,30/12/2019,18.16,117.67,20.19,18.67,19.02,33.20,27.60,13.28,29.79,...,9.51,53.30,49.04,57.98,16.98,9.20,11.17,34.66,14.12,44.79