In [40]:
import numpy as np
import pandas as pd
import os
import statsmodels.api as sm
import statsmodels.tsa.stattools as ts
import matplotlib.pyplot as plt
from pykalman import KalmanFilter
import statistics

%matplotlib inline
data

     AALR3  AAPL34  ABCB4  ABEV3  ALPA4
0    13.25   60.41  17.12  16.15  17.50
1    13.30   53.80  17.10  16.33  17.53
2    13.44   54.66  16.95  16.55  17.40
3    13.34   54.55  17.00  16.48  17.36
4    13.19   56.19  17.32  16.15  17.70
..     ...     ...    ...    ...    ...
347   9.00  167.79  13.98  13.38  26.73
348   9.77  172.00  14.00  12.82  25.58
349  10.20  171.33  14.00  12.48  24.83
350  10.50  173.08  14.05  12.60  25.60
351  10.26  168.40  14.02  12.97  26.22

[352 rows x 5 columns]

In [39]:
data = pd.read_csv('datasets/data.csv')[['AALR3', 'AAPL34', 'ABCB4', 'ABEV3', 'ALPA4']]
data.shape

(352, 5)

In [41]:
data.columns[1]

'AAPL34'

In [43]:
counter =0
index=-1
for y_symbol in data.columns:
    index = index + 1
    for x_symbol in data.columns[index+1:n]:
        counter=counter+1

10

In [ ]:
20503