## Download do Histórico

In [1]:
#https://aroussi.com/post/python-yahoo-finance
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import numpy as np
yf.pdr_override()

In [2]:
tickers = pd.read_csv('../datasets/composicao_indice.csv',names=['Código'])
tickers['Código'] = tickers['Código'] + '.SA'
tickers = tickers['Código'].tolist()
len(tickers), tickers[0:5]

(75, ['ABEV3.SA', 'AZUL4.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA'])

In [3]:
tickers = ['TAEE11.SA', 'CSAN3.SA', 'ENGI11.SA', 'USIM5.SA', 'FLRY3.SA', 'VVAR3.SA']

In [4]:
#start="2019-10-01"
historic = web.get_data_yahoo(tickers, start="2019-05-01")['Close']
#historic = web.get_data_yahoo(tickers, period='1y')['Adj Close']
historic.shape

[*********************100%***********************]  6 of 6 completed

(296, 6)

#### Renomear as colunas removendo o .SA

In [5]:
columns=[]
for col in historic.columns:
    columns.append(col.replace('.SA', ''))
historic.columns = columns

In [6]:
historic.tail()

                CSAN3     ENGI11      FLRY3     TAEE11  USIM5      VVAR3
Date
2020-07-03  75.620003  47.250000  24.790001  28.400000   7.46  15.550000
2020-07-06  76.779999  47.250000  24.980000  28.480000   7.61  15.960000
2020-07-07  73.500000  47.660000  25.740000  28.459999   7.45  15.860000
2020-07-08  75.239998  48.000000  26.270000  28.700001   7.70  16.370001
2020-07-09  73.750000  47.740002  25.700001  28.549999   7.47  17.549999

In [7]:
historic.to_csv('../datasets/data_yahoo.csv')
print("Dataset salvo com sucesso!!!")

Dataset salvo com sucesso!!!

Tratar os dados faltantes, vou add um valor médio para todos os faltantes.. é o jeito

In [196]:
# Lista de missing values:
missing_values = ['n/a','na','--','.']
historic = pd.read_csv('datasets/data_yahoo.csv',na_values=missing_values)

In [221]:
historic.shape

(249, 75)

In [200]:
historic.loc[historic['VVAR3'].isnull()==True]

,Date,ABEV3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,BEEF3,BPAC11,...,TAEE11,TIMP3,TOTS3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3,YDUQ3
177,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
historic.isnull().values.sum()

0