## Download do Histórico

In [1]:
#https://aroussi.com/post/python-yahoo-finance
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import numpy as np
yf.pdr_override()

In [2]:
tickers = pd.read_csv('../datasets/composicao_indice.csv',names=['Código'])
tickers['Código'] = tickers['Código'] + '.SA'
tickers = tickers['Código'].tolist()
len(tickers), tickers[0:5]

(75, ['ABEV3.SA', 'AZUL4.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA'])

In [3]:
#tickers = ['TAEE11.SA', 'CSAN3.SA', 'ENGI11.SA', 'USIM5.SA', 'FLRY3.SA', 'VVAR3.SA']
#tickers=['BOVA11.SA']
#historic = pd.read_csv('../datasets/data_yahoo.csv')

In [4]:
#start="2019-10-01"
historic = web.get_data_yahoo(tickers, start="2019-05-01")['Close']
#historic = web.get_data_yahoo(tickers, period='1y')['Adj Close']
historic.shape

[*********************100%***********************]  75 of 75 completed

(303, 75)

In [5]:
"""historic.columns =['BOVA11']
historic.index[-1]"""

"historic.columns =['BOVA11']\nhistoric.index[-1]"

#### Renomear as colunas removendo o .SA

In [6]:
columns=[]
for col in historic.columns:
    columns.append(col.replace('.SA', ''))
historic.columns = columns

In [7]:
historic

,ABEV3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,BEEF3,BPAC11,BRAP4,...,TAEE11,TIMP3,TOTS3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3,YDUQ3
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-02,17.950001,34.599998,33.900002,49.790001,31.120001,35.599998,28.420000,8.50550,40.849998,30.290001,...,26.450001,11.55,43.956501,21.469999,8.45,48.939999,45.910000,4.140000,18.770000,27.049999
2019-05-03,17.920000,36.080002,34.070000,50.080002,31.730000,35.959999,28.030001,8.62350,40.549999,31.389999,...,26.200001,11.48,42.409401,21.209999,8.87,50.400002,45.919998,4.520000,18.650000,26.440001
2019-05-06,18.059999,35.000000,33.700001,49.369999,30.700001,34.990002,28.520000,8.72182,40.299999,30.760000,...,25.950001,11.43,42.020199,21.260000,8.78,49.660000,45.509998,4.560000,18.360001,26.100000
2019-05-07,17.650000,35.279999,33.660000,49.490002,27.518200,31.609100,27.580000,8.55466,40.099998,30.980000,...,26.070000,11.47,40.822399,21.400000,8.46,49.700001,45.849998,4.720000,18.139999,26.650000
2019-05-08,17.920000,37.000000,34.349998,50.590000,30.980000,35.490002,27.430000,8.56450,39.849998,30.580000,...,26.389999,10.95,39.425098,21.730000,8.58,49.000000,45.750000,4.530000,18.610001,27.309999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-13,14.000000,21.160000,59.889999,33.799999,20.040001,21.959999,27.379999,13.06000,84.959999,38.150002,...,28.450001,14.79,24.670000,17.700001,7.39,57.650002,48.020000,17.650000,54.939999,33.980000
2020-07-14,13.910000,21.750000,61.139999,34.349998,20.320000,22.330000,27.309999,13.54000,83.400002,40.720001,...,28.370001,14.82,24.680000,18.840000,7.52,61.700001,47.990002,17.750000,53.990002,34.500000
2020-07-15,14.290000,22.730000,61.889999,34.689999,20.740000,22.700001,27.559999,14.22000,83.980003,40.720001,...,28.330000,15.16,25.000000,19.280001,7.51,61.790001,48.419998,18.450001,54.349998,34.000000
2020-07-16,14.050000,22.049999,61.500000,34.400002,20.400000,22.299999,27.400000,13.65000,86.029999,39.980000,...,28.120001,15.55,25.139999,19.340000,7.39,60.119999,49.750000,19.000000,54.549999,34.000000
2020-07-17,14.160000,21.799999,63.889999,35.459999,20.790001,22.410000,27.549999,14.22000,89.029999,40.790001,...,28.190001,15.83,25.709999,19.500000,7.49,61.040001,50.389999,19.719999,58.090000,34.299999

Tratar os dados faltantes, vou add um valor médio para todos os faltantes.. é o jeito

In [8]:
historic.isnull().values.sum()

235

In [9]:
rows=[]
indexs = np.arange(0, len(historic))
for col in historic.columns:
    count = historic[col].isnull().sum()
    if (count > 0):
        rows.append([col, count])
rows

[['ABEV3', 1],
 ['AZUL4', 1],
 ['B3SA3', 1],
 ['BBAS3', 1],
 ['BBDC3', 1],
 ['BBDC4', 1],
 ['BBSE3', 1],
 ['BEEF3', 1],
 ['BPAC11', 1],
 ['BRAP4', 1],
 ['BRDT3', 1],
 ['BRFS3', 1],
 ['BRKM5', 1],
 ['BRML3', 1],
 ['BTOW3', 1],
 ['CCRO3', 1],
 ['CIEL3', 1],
 ['CMIG4', 1],
 ['COGN3', 1],
 ['CPFE3', 1],
 ['CRFB3', 1],
 ['CSAN3', 1],
 ['CSNA3', 1],
 ['CVCB3', 1],
 ['CYRE3', 1],
 ['ECOR3', 1],
 ['EGIE3', 1],
 ['ELET3', 1],
 ['ELET6', 1],
 ['EMBR3', 1],
 ['ENBR3', 1],
 ['ENGI11', 1],
 ['EQTL3', 1],
 ['FLRY3', 1],
 ['GGBR4', 1],
 ['GNDI3', 1],
 ['GOAU4', 1],
 ['GOLL4', 1],
 ['HAPV3', 1],
 ['HGTX3', 1],
 ['HYPE3', 1],
 ['IGTA3', 1],
 ['IRBR3', 1],
 ['ITSA4', 1],
 ['ITUB4', 1],
 ['JBSS3', 1],
 ['KLBN11', 1],
 ['LAME4', 1],
 ['LREN3', 1],
 ['MGLU3', 1],
 ['MRFG3', 1],
 ['MRVE3', 1],
 ['MULT3', 1],
 ['NTCO3', 161],
 ['PCAR3', 1],
 ['PETR3', 1],
 ['PETR4', 1],
 ['QUAL3', 1],
 ['RADL3', 1],
 ['RAIL3', 1],
 ['RENT3', 1],
 ['SANB11', 1],
 ['SBSP3', 1],
 ['SULA11', 1],
 ['SUZB3', 1],
 ['TAEE11', 1],
 ['TIMP3', 1],
 ['TOTS3', 1],
 ['UGPA3', 1],
 ['USIM5', 1],
 ['VALE3', 1],
 ['VIVT4', 1],
 ['VVAR3', 1],
 ['WEGE3', 1],
 ['YDUQ3', 1]]

In [10]:
del historic['NTCO3']

In [11]:
having = historic.shape[0]
historic.dropna(inplace=True)
has = historic.shape[0]
print('Tinha {}, removido {} ln, restou {}'.format(having, having-has, has))

Tinha 303, removido 1 ln, restou 302

In [12]:
historic.isnull().sum().sum()

0

In [13]:
historic.to_csv('../datasets/data_yahoo.csv')
print("Dataset salvo com sucesso!!!")

Dataset salvo com sucesso!!!