# Renda Variável

http://www.b3.com.br/pt_br/produtos-e-servicos/emprestimo-de-ativos/renda-variavel/s_empreg_ativos/renda-variavel-8AA8D0CD701B61040170400B64840F04.htm?data=04/06/2020&f=0

In [72]:
# https://www.ivalor.com.br/empresas/acoes/emprestimo
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [136]:
url = 'http://www.b3.com.br/pt_br/produtos-e-servicos/emprestimo-de-ativos/renda-variavel/s_empreg_ativos/renda-variavel-8AA8D0CD701B61040170400B64840F04.htm?data=04/06/2020&f=0'
req = requests.get(url)
if req.status_code == 200:
    print('Requisição bem sucedida!')
    content = req.content

Requisição bem sucedida!

In [144]:
soup = BeautifulSoup(content, 'html.parser')
table = soup.find(name='table')

In [145]:
table_str = str(table)
df = pd.read_html(table_str)[0]

In [146]:
df

      Ação              Empresa Nº de contratos Quantidade de Ações  \
      Ação              Empresa Nº de contratos Quantidade de Ações
0    AALR3      CENTRO DE IMAGE              13             306.493
1    ABCB4      BANCO ABC BRASI               4               5.920
2    ABEV3            AMBEV S/A             165           3.660.706
3    ADHM3  HUB COSMETICOS S.A.               1                 215
4    AGRO3       BRASILAGRO CIA               9              13.132
..     ...                  ...             ...                 ...
256  WEGE3              WEG S/A              68           1.310.735
257  WHRL3            MULTIBRAS               1                  70
258  WIZS3       WIZ SOLUÇÕES E              15             187.543
259  YDUQ3      ESTACIO PARTICI              75             501.518
260  Total                Total           Total               Total

          Valor (R$) Taxa % de Remuneração do Doador (livre de comissão)  \
          Valor (R$)                                                Mín.
0        3.331.57891                                              0,24%
1           85.42560                                              0,15%
2       49.053.46040                                              0,02%
3              57620                                              3,60%
4          263.16528                                              0,87%
..               ...                                                ...
256     56.282.96090                                              0,04%
257            44520                                              2,30%
258      1.963.57521                                              0,11%
259     17.708.60058                                              0,32%
260  4.237.786.78817                                                NaN

                           Taxa % paga pelo Tomador
    Média Ponderada   Máx.                     Mín. Média Ponderada   Máx.
0             0,94%  0,96%                    1,00%           1,02%  2,40%
1             0,25%  0,26%                    0,25%           0,56%  1,00%
2             0,04%  0,55%                    0,04%           0,17%  2,03%
3             3,60%  3,60%                    6,00%           6,00%  6,00%
4             1,70%  2,80%                    3,20%           4,53%  8,39%
..              ...    ...                      ...             ...    ...
256           0,10%  0,20%                    0,09%           0,21%  0,80%
257           2,30%  2,30%                    3,84%           3,84%  3,84%
258           0,19%  0,24%                    0,25%           0,27%  1,50%
259           0,62%  1,60%                    0,32%           0,73%  2,50%
260             NaN    NaN                      NaN             NaN    NaN

[261 rows x 11 columns]

In [142]:
df['Ação']

      Ação
0    AALR3
1    ABCB4
2    ABEV3
3    ADHM3
4    AGRO3
..     ...
256  WEGE3
257  WHRL3
258  WIZS3
259  YDUQ3
260  Total

[261 rows x 1 columns]