## Download do Histórico

In [14]:
#https://aroussi.com/post/python-yahoo-finance
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import numpy as np
yf.pdr_override()

In [2]:
tickers = pd.read_csv('../datasets/composicao_indice.csv',names=['Código'])
tickers['Código'] = tickers['Código'] + '.SA'
tickers = tickers['Código'].tolist()
len(tickers), tickers[0:5]

(75, ['ABEV3.SA', 'AZUL4.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA'])

In [3]:
#tickers = ['TAEE11.SA', 'CSAN3.SA', 'ENGI11.SA', 'USIM5.SA', 'FLRY3.SA', 'VVAR3.SA']
#tickers=['BOVA11.SA']
#historic = pd.read_csv('../datasets/data_yahoo.csv')

In [4]:
#start="2019-10-01"
historic = web.get_data_yahoo(tickers, start="2019-05-01")['Close']
#historic = web.get_data_yahoo(tickers, start="2019-05-01")['Adj Close']
historic.shape

[*********************100%***********************]  75 of 75 completed

(315, 75)

In [5]:
"""historic.columns =['BOVA11']
historic.index[-1]"""

"historic.columns =['BOVA11']\nhistoric.index[-1]"

#### Renomear as colunas removendo o .SA

In [6]:
columns=[]
for col in historic.columns:
    columns.append(col.replace('.SA', ''))
historic.columns = columns

In [7]:
historic

,ABEV3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,BEEF3,BPAC11,BRAP4,...,TAEE11,TIMP3,TOTS3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3,YDUQ3
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-02,17.950001,34.599998,33.900002,49.790001,31.120001,35.599998,28.420000,8.50550,40.849998,30.290001,...,26.450001,11.55,43.956501,21.469999,8.45,48.939999,45.910000,4.140000,18.770000,27.049999
2019-05-03,17.920000,36.080002,34.070000,50.080002,31.730000,35.959999,28.030001,8.62350,40.549999,31.389999,...,26.200001,11.48,42.409401,21.209999,8.87,50.400002,45.919998,4.520000,18.650000,26.440001
2019-05-06,18.059999,35.000000,33.700001,49.369999,30.700001,34.990002,28.520000,8.72182,40.299999,30.760000,...,25.950001,11.43,42.020199,21.260000,8.78,49.660000,45.509998,4.560000,18.360001,26.100000
2019-05-07,17.650000,35.279999,33.660000,49.490002,27.518200,31.609100,27.580000,8.55466,40.099998,30.980000,...,26.070000,11.47,40.822399,21.400000,8.46,49.700001,45.849998,4.720000,18.139999,26.650000
2019-05-08,17.920000,37.000000,34.349998,50.590000,30.980000,35.490002,27.430000,8.56450,39.849998,30.580000,...,26.389999,10.95,39.425098,21.730000,8.58,49.000000,45.750000,4.530000,18.610001,27.309999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-29,15.150000,20.959999,64.629997,35.950001,22.059999,24.260000,28.240000,14.09000,87.830002,44.029999,...,28.940001,14.89,26.090000,19.450001,8.15,62.950001,50.599998,20.120001,66.980003,33.480000
2020-07-30,14.550000,21.020000,64.610001,34.799999,21.500000,23.410000,28.070000,13.97000,86.860001,42.860001,...,29.200001,14.80,26.120001,19.750000,8.21,61.270000,51.130001,20.200001,68.000000,35.090000
2020-07-31,13.900000,20.309999,63.439999,33.580002,20.730000,22.440001,27.830000,13.58000,86.419998,43.049999,...,29.030001,15.75,25.830000,18.940001,8.13,60.709999,52.650002,19.520000,67.349998,33.889999
2020-08-03,13.720000,20.100000,63.889999,34.349998,20.650000,22.230000,28.270000,13.51000,89.750000,43.240002,...,28.650000,15.28,25.750000,18.959999,8.40,60.680000,51.000000,20.059999,66.699997,33.750000
2020-08-04,13.430000,20.010000,63.450001,33.700001,20.059999,21.709999,28.270000,13.15000,87.260002,42.900002,...,28.530001,15.21,25.870001,18.549999,8.13,59.840000,50.639999,19.870001,66.279999,32.730000

Tratar os dados faltantes, vou add um valor médio para todos os faltantes.. é o jeito

In [8]:
historic.isnull().values.sum()

399

In [9]:
rows=[]
indexs = np.arange(0, len(historic))
for col in historic.columns:
    count = historic[col].isnull().sum()
    if (count > 1):
        rows.append([col, count])
rows

[['NTCO3', 161], ['PCAR3', 161], ['YDUQ3', 5]]

In [10]:
for ro in rows:
    del historic[ro[0]]

In [11]:
having = historic.shape[0]
historic.dropna(inplace=True)
has = historic.shape[0]
print('Tinha {}, removido {} ln, restou {}'.format(having, having-has, has))

Tinha 315, removido 1 ln, restou 314

In [12]:
historic.isnull().sum().sum()

0

In [13]:
historic.to_csv('../datasets/data_yahoo.csv')
print("Dataset salvo com sucesso!!!")

Dataset salvo com sucesso!!!