## Download do Histórico

In [1]:
#https://aroussi.com/post/python-yahoo-finance
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import numpy as np
yf.pdr_override()

In [3]:
tickers = pd.read_csv('../datasets/composicao_indice.csv',names=['Código'])
tickers['Código'] = tickers['Código'] + '.SA'
tickers = tickers['Código'].tolist()
len(tickers), tickers[0:5]

(75, ['ABEV3.SA', 'AZUL4.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA'])

In [4]:
tickers = ['TAEE11.SA', 'CSAN3.SA', 'ENGI11.SA', 'USIM5.SA', 'FLRY3.SA', 'VVAR3.SA']

In [5]:
#start="2019-10-01"
historic = web.get_data_yahoo(tickers, start="2019-05-01")['Close']
#historic = web.get_data_yahoo(tickers, period='1y')['Adj Close']
historic.shape

[*********************100%***********************]  6 of 6 completed

(295, 6)

#### Renomear as colunas removendo o .SA

In [7]:
columns=[]
for col in historic.columns:
    columns.append(col.replace('.SA', ''))
historic.columns = columns

In [8]:
historic.tail()

                CSAN3     ENGI11      FLRY3     TAEE11  USIM5      VVAR3
Date
2020-07-02  74.029999  47.439999  24.650000  28.410000   7.35  15.390000
2020-07-03  75.620003  47.250000  24.790001  28.400000   7.46  15.550000
2020-07-06  76.779999  47.250000  24.980000  28.480000   7.61  15.960000
2020-07-07  73.500000  47.660000  25.740000  28.459999   7.45  15.860000
2020-07-08  75.239998  48.000000  26.270000  28.860001   7.70  16.370001

In [9]:
historic.to_csv('../datasets/data_yahoo.csv')
print("Dataset salvo com sucesso!!!")

Dataset salvo com sucesso!!!

Tratar os dados faltantes, vou add um valor médio para todos os faltantes.. é o jeito

In [196]:
# Lista de missing values:
missing_values = ['n/a','na','--','.']
historic = pd.read_csv('datasets/data_yahoo.csv',na_values=missing_values)

In [221]:
historic.shape

(249, 75)

In [200]:
historic.loc[historic['VVAR3'].isnull()==True]

,Date,ABEV3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,BEEF3,BPAC11,...,TAEE11,TIMP3,TOTS3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3,YDUQ3
177,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
historic.isnull().values.sum()

0

In [220]:
#historic.dropna(inplace=True)

In [10]:
(historic.isnull().sum() > 1)

CSAN3     False
ENGI11    False
FLRY3     False
TAEE11    False
USIM5     False
VVAR3     False
dtype: bool

In [227]:
rows=[]
for col in historic.columns:
    count=0
    for row in historic[col]:
        try:
            #print(row)
            int(row)
            #historic.loc[count,'OWN_OCCUPIED'] = np.nan
        except ValueError:
            pass
            count+=1
    rows.append([col, count])
rows

[['Date', 249],
 ['ABEV3', 0],
 ['AZUL4', 0],
 ['B3SA3', 0],
 ['BBAS3', 0],
 ['BBDC3', 0],
 ['BBDC4', 0],
 ['BBSE3', 0],
 ['BEEF3', 0],
 ['BPAC11', 0],
 ['BRAP4', 0],
 ['BRDT3', 0],
 ['BRFS3', 0],
 ['BRKM5', 0],
 ['BRML3', 0],
 ['BTOW3', 0],
 ['CCRO3', 0],
 ['CIEL3', 0],
 ['CMIG4', 0],
 ['COGN3', 0],
 ['CPFE3', 0],
 ['CRFB3', 0],
 ['CSAN3', 0],
 ['CSNA3', 0],
 ['CVCB3', 0],
 ['CYRE3', 0],
 ['ECOR3', 0],
 ['EGIE3', 0],
 ['ELET3', 0],
 ['ELET6', 0],
 ['EMBR3', 0],
 ['ENBR3', 0],
 ['ENGI11', 0],
 ['EQTL3', 0],
 ['FLRY3', 0],
 ['GGBR4', 0],
 ['GNDI3', 0],
 ['GOAU4', 0],
 ['GOLL4', 0],
 ['HAPV3', 0],
 ['HGTX3', 0],
 ['HYPE3', 0],
 ['IGTA3', 0],
 ['IRBR3', 0],
 ['ITSA4', 0],
 ['ITUB4', 0],
 ['JBSS3', 0],
 ['KLBN11', 0],
 ['LAME4', 0],
 ['LREN3', 0],
 ['MGLU3', 0],
 ['MRFG3', 0],
 ['MRVE3', 0],
 ['MULT3', 0],
 ['PCAR3', 0],
 ['PETR3', 0],
 ['PETR4', 0],
 ['QUAL3', 0],
 ['RADL3', 0],
 ['RAIL3', 0],
 ['RENT3', 0],
 ['SANB11', 0],
 ['SBSP3', 0],
 ['SULA11', 0],
 ['SUZB3', 0],
 ['TAEE11', 0],
 ['TIMP3', 0],
 ['TOTS3', 0],
 ['UGPA3', 0],
 ['USIM5', 0],
 ['VALE3', 0],
 ['VIVT4', 0],
 ['VVAR3', 0],
 ['WEGE3', 0],
 ['YDUQ3', 0]]

In [218]:
historic['NTCO3']

KeyError: 'NTCO3'

In [217]:
del historic['NTCO3']