## Download do Histórico

In [1]:
#https://aroussi.com/post/python-yahoo-finance
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import numpy as np
yf.pdr_override()

In [15]:
tickers = pd.read_csv('../datasets/composicao_indice.csv',names=['Código'])
tickers['Código'] = tickers['Código'] + '.SA'
tickers = tickers['Código'].tolist()
len(tickers), tickers[0:5]

(75, ['ABEV3.SA', 'AZUL4.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA'])

In [16]:
#tickers = ['TAEE11.SA', 'CSAN3.SA', 'ENGI11.SA', 'USIM5.SA', 'FLRY3.SA', 'VVAR3.SA']

In [17]:
#start="2019-10-01"
historic = web.get_data_yahoo(tickers, start="2019-05-01")['Close']
#historic = web.get_data_yahoo(tickers, period='1y')['Adj Close']
historic.shape

[*********************100%***********************]  75 of 75 completed

(298, 75)

#### Renomear as colunas removendo o .SA

In [18]:
columns=[]
for col in historic.columns:
    columns.append(col.replace('.SA', ''))
historic.columns = columns

In [148]:
historic.head()

,ABEV3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,BEEF3,BPAC11,BRAP4,...,TAEE11,TIMP3,TOTS3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3,YDUQ3
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-02,17.950001,34.599998,33.900002,49.790001,31.120001,35.599998,28.420000,8.50550,40.849998,30.290001,...,26.450001,11.55,43.956501,21.469999,8.45,48.939999,45.910000,4.14,18.770000,27.049999
2019-05-03,17.920000,36.080002,34.070000,50.080002,31.730000,35.959999,28.030001,8.62350,40.549999,31.389999,...,26.200001,11.48,42.409401,21.209999,8.87,50.400002,45.919998,4.52,18.650000,26.440001
2019-05-06,18.059999,35.000000,33.700001,49.369999,30.700001,34.990002,28.520000,8.72182,40.299999,30.760000,...,25.950001,11.43,42.020199,21.260000,8.78,49.660000,45.509998,4.56,18.360001,26.100000
2019-05-07,17.650000,35.279999,33.660000,49.490002,27.518200,31.609100,27.580000,8.55466,40.099998,30.980000,...,26.070000,11.47,40.822399,21.400000,8.46,49.700001,45.849998,4.72,18.139999,26.650000
2019-05-08,17.920000,37.000000,34.349998,50.590000,30.980000,35.490002,27.430000,8.56450,39.849998,30.580000,...,26.389999,10.95,39.425098,21.730000,8.58,49.000000,45.750000,4.53,18.610001,27.309999

In [99]:
historic.to_csv('../datasets/data_yahoo.csv')
print("Dataset salvo com sucesso!!!")

Dataset salvo com sucesso!!!

In [100]:
test = historic.copy()

Tratar os dados faltantes, vou add um valor médio para todos os faltantes.. é o jeito

In [153]:
historic.shape

(298, 75)

In [83]:
historic.loc[historic['NTCO3'].isnull()==True]

,ABEV3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,BEEF3,BPAC11,BRAP4,...,TAEE11,TIMP3,TOTS3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3,YDUQ3
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-02,17.950001,34.599998,33.900002,49.790001,31.120001,35.599998,28.420000,8.50550,40.849998,30.290001,...,26.450001,11.55,43.956501,21.469999,8.45,48.939999,45.910000,4.14,18.770000,27.049999
2019-05-03,17.920000,36.080002,34.070000,50.080002,31.730000,35.959999,28.030001,8.62350,40.549999,31.389999,...,26.200001,11.48,42.409401,21.209999,8.87,50.400002,45.919998,4.52,18.650000,26.440001
2019-05-06,18.059999,35.000000,33.700001,49.369999,30.700001,34.990002,28.520000,8.72182,40.299999,30.760000,...,25.950001,11.43,42.020199,21.260000,8.78,49.660000,45.509998,4.56,18.360001,26.100000
2019-05-07,17.650000,35.279999,33.660000,49.490002,27.518200,31.609100,27.580000,8.55466,40.099998,30.980000,...,26.070000,11.47,40.822399,21.400000,8.46,49.700001,45.849998,4.72,18.139999,26.650000
2019-05-08,17.920000,37.000000,34.349998,50.590000,30.980000,35.490002,27.430000,8.56450,39.849998,30.580000,...,26.389999,10.95,39.425098,21.730000,8.58,49.000000,45.750000,4.53,18.610001,27.309999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-12,18.700001,55.070000,46.689999,48.910000,32.230000,34.740002,36.500000,14.06110,74.720001,36.990002,...,29.900000,14.44,67.000000,22.070000,9.29,52.950001,55.810001,10.00,33.799999,45.009998
2019-12-13,19.010000,56.860001,46.400002,48.529999,32.520000,34.799999,37.349998,13.50060,74.699997,37.820000,...,30.139999,14.68,68.699997,22.260000,9.25,53.759998,56.330002,10.87,34.049999,47.200001
2019-12-16,19.080000,57.270000,46.220001,47.869999,32.029999,34.189999,36.820000,13.24500,74.849998,37.750000,...,30.400000,14.52,68.000000,22.430000,9.12,53.340000,56.630001,11.25,33.490002,47.349998
2019-12-17,18.910000,56.869999,47.790001,48.950001,32.540001,34.820000,37.549999,12.46820,75.000000,37.630001,...,30.030001,14.61,67.900002,23.000000,9.25,53.419998,56.869999,10.99,33.959999,46.349998
2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
historic.isnull().values.sum()

235

In [38]:
historic['BBAS3'].isnull().sum()

1

In [48]:
rows=[]
indexs = np.arange(0, len(historic))
for col in historic.columns:
    count = historic[col].isnull().sum()
    if (count > 0):
        values = zip(indexs, historic[col])
        for row in values:
            if (row[col].isnull()):
                rows.append([index, col, count])
rows

In [109]:
del test['NTCO3']

In [114]:
values = zip(indexs, test['ABEV3'])
for j in values:
    #print(j[1])
    if (j[1] == np.nan):
        print(j[1])

In [157]:
test.dropna(inplace=True)

In [158]:
test

,ABEV3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,BEEF3,BPAC11,BRAP4,...,TAEE11,TIMP3,TOTS3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3,YDUQ3
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-02,17.950001,34.599998,33.900002,49.790001,31.120001,35.599998,28.420000,8.50550,40.849998,30.290001,...,26.450001,11.55,43.956501,21.469999,8.45,48.939999,45.910000,4.140000,18.770000,27.049999
2019-05-03,17.920000,36.080002,34.070000,50.080002,31.730000,35.959999,28.030001,8.62350,40.549999,31.389999,...,26.200001,11.48,42.409401,21.209999,8.87,50.400002,45.919998,4.520000,18.650000,26.440001
2019-05-06,18.059999,35.000000,33.700001,49.369999,30.700001,34.990002,28.520000,8.72182,40.299999,30.760000,...,25.950001,11.43,42.020199,21.260000,8.78,49.660000,45.509998,4.560000,18.360001,26.100000
2019-05-07,17.650000,35.279999,33.660000,49.490002,27.518200,31.609100,27.580000,8.55466,40.099998,30.980000,...,26.070000,11.47,40.822399,21.400000,8.46,49.700001,45.849998,4.720000,18.139999,26.650000
2019-05-08,17.920000,37.000000,34.349998,50.590000,30.980000,35.490002,27.430000,8.56450,39.849998,30.580000,...,26.389999,10.95,39.425098,21.730000,8.58,49.000000,45.750000,4.530000,18.610001,27.309999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-06,14.360000,22.049999,56.520000,34.669998,20.730000,22.650000,28.030001,13.32000,80.000000,36.459999,...,28.480000,15.30,24.360001,18.540001,7.61,56.570000,48.930000,15.960000,53.200001,34.959999
2020-07-07,14.450000,21.500000,57.169998,33.279999,19.879999,21.709999,27.799999,13.70000,80.949997,36.529999,...,28.459999,14.93,24.520000,18.040001,7.45,56.369999,48.380001,15.860000,53.910000,34.400002
2020-07-08,14.710000,21.530001,60.650002,34.090000,20.559999,22.450001,28.340000,13.59000,85.000000,37.169998,...,28.700001,15.26,24.320000,18.770000,7.70,57.320000,48.880001,16.370001,54.299999,34.549999
2020-07-09,14.640000,20.900000,58.889999,33.959999,20.299999,21.950001,28.049999,13.26000,82.860001,36.820000,...,28.549999,14.72,25.090000,18.590000,7.47,56.419998,49.750000,17.549999,54.459999,34.580002
2020-07-10,14.850000,21.910000,59.950001,34.139999,20.450001,22.270000,27.719999,13.44000,85.400002,37.560001,...,28.490000,14.91,25.070000,18.510000,7.43,56.970001,48.849998,17.620001,54.700001,35.549999

In [165]:
test.isnull().sum().sum()

0